/*
	Buttons
*/

[class*="btn"] {
	position: relative;
	@include box-sizing(border-box);
	@include appearance(none);

	outline: none;
	
	display: inline-block;
	width: auto;
	height: 40px;
	line-height: 40px;
	
	color: #444;
	font-size: 14px;
	text-decoration: none;

	background: #ddd;
	border: 0;

	padding: 0 20px;

	border-bottom: solid 2px rgba(0,0,0,.15);
	@include border-radius(3px);

	&:hover {
		background-color: #d2d2d2;
	}

	&:active {
		border-bottom: 0;
		top: 1px;
	}
}


.btn-extra-small {
	height: 25px;
	line-height: 25px;

	font-size: 11px;

	padding: 0 10px;
}

.btn-small {
	height: 30px;
	line-height: 30px;

	font-size: 13px;

	padding: 0 15px;
}

.btn-large {
	height: 50px;
	line-height: 50px;

	font-size: 18px;

	padding: 0 25px;
}


.btn-success {
	color: #fff;
	background-color: #1ABC9C;

	&:hover {
		background-color: #17AC8E;
	}
}

.btn-danger {
	color: #fff;
	background-color: #E74C3C;

	&:hover {
		background-color: #E43E2C;
	}
}